qui/main.dtd

<!ELEMENT inventory (product+)>
<!ELEMENT product (name, sizes?, prices?)>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT sizes (size+)>
<!ELEMENT size (#PCDATA)>
<!ATTLIST size type CDATA #REQUIRED>
<!ELEMENT prices (price+)>
<!ELEMENT price (#PCDATA)>
<!ATTLIST price currency CDATA #REQUIRED>
